.box1{
 background-color: blue;
 border-radius: 5px;
 width: 500px;
 height: 80px;
 text-align: center;
 color: white;
 font-size: 65px;
}

.box{
 border: 4px;
 border-color: black;
 border-style: solid;
 height: 50px;
 width: 1200px;
 margin-left: 350px;
 font-size: 20px;
 background-color: white;
 
}


.aared{
  margin: 0px;
  background-color: lightgreen;
  
}
.midagi{
position: absolute;
top: 0;
margin-top: 80px;

}